/* FONT FACE - font-display: fallback; */
@font-face {
  font-family: "GB";
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GL";
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CD";
  src: url("../fonts/ChronicleDisplay-Black.woff2") format("woff2"),
    url("../fonts/ChronicleDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CDE";
  src: url("../fonts/ChronicleDisplay-Semi.woff2") format("woff2"),
    url("../fonts/ChronicleDisplay-Semi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CDE";
  src: url("../fonts/ChronicleDisplay-Roman.woff2") format("woff2"),
    url("../fonts/ChronicleDisplay-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chronicle Display";
  src: url("../fonts/ChronicleDisplay-LightItalic.woff2") format("woff2"),
    url("../fonts/ChronicleDisplay-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
